<h1>Welcome to Bike Berlin</h1>
<h4>Your source for used bikes in Berlin</h4>
<div class="container">
	<div class="row">
		<div class=" xs-col-12 sm-col-4">
			<%= image_tag("racebike.jpg", class: "img-responsive bike") %>
		</div> <!-- closing col -->
		<div class=" xs-col-12 sm-col-4">
			<%= image_tag("racebike2.jpg", class: "img-responsive bike") %>
		</div> <!-- closing col -->
		<div class=" xs-col-12 sm-col-4">
			<%= image_tag("racebike3.png", class: "img-responsive bike") %>
		</div> <!-- closing col -->
	</div> <!-- closing row -->
</div> <!-- closing container -->

